.navbar {
  width: 100%;
  padding: 4px;
  color: #B2C8BA;
  background: #fff; 
}

.app-title {
  font-size: 20px;
  margin: 15px 35px;
}

.input-container {
  width: 50%;
  margin: 8px auto;
  border: 1px solid #D2E3C8;
  border-radius: 9px;
  padding: 15px;
}

.note-title {
  max-width: 100%;
  min-width: 98%;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 18px;
}

.note-body {
  max-width: 100%;
  min-width: 98%;
  padding: 12px;
  border: none;
  outline: none;
}

.save-note {
  display: block;
  border: none;
  outline: none;
  padding: 12px 35px;
  border-radius: 8px;
  background: #fff; 
  float:right;
  font-size: 15px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.02s;
}

.save-note:hover {
  background: #B2C8BA;
  color: #fff;
}

.clear {
  clear: both;
}

.clear-note {
  float: right;
  outline: none;
  border: none;
  padding: 12px 35px;
  border-radius: 8px;
  background: #fff; 
  font-size: 15px;
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: linear; 
  transition-delay: 0.02s;
}

.clear-note:hover {
  background: #FA7070; 
}
