<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ .style}}" rel="stylesheet">
    <style>
      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card p-3" style="width: 25rem; margin: 0 auto;">
            <div class="card-body">
              <h5 class="card-title text-center fw-bold">Sign Up</h5>
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email">
                  <p class="form-text">Kami akan menjaga data privasi email kamu!</p>
                </div>
                <div class="mb-3">
                  <label for="pass" class="form-label">Password</label>
                  <input type="password" class="form-control" id="pass">
                  <p class="form-text">Pastikan buat password yang kuat dan sulit ditebak! Minimal password terdiri dari 8 karakter.</p>
                </div>
                <div class="mb-3">
                  <label for="confpass" class="form-label">Konfirmasi Password</label>
                  <input type="password" class="form-control" id="confpass">
                  <p class="form-text">Konfirmasikan ulang password yang sudah kamu buat.</p>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 100%;">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{.popper}}"></script>
    <script src="{{ .script }}"></script>
    <script>
      const formData = {
        email: document.getElementById("email"),
        password: document.getElementById("pass"),
        confpass: document.getElementById("confpass")
      }

      if (formData.confpass !== formData.password) {
          
      }
    </script>
  </body>
</html>
