<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ .style}}" rel="stylesheet">
    <style>
      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card p-3" style="width: 25rem; margin: 0 auto;">
            <div class="card-body">
              <h5 class="card-title text-center">Sign Up</h5>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ .script }}"></script>
  </body>
</html>
